$primary-color: #00579e;
$background-color: #f6f7f9;
$border-color: #d8dee8;
$background-hover-color: darken($background-color, 2%);
$background-selected-color: darken($background-color, 4%);
$disabled-color: darken($background-color, 20%);
